@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
body{
    background-color: #491734;
}
.logo{
    font-size: 40px;
    color:white;
    margin-left: 90px;
    display: inline-block;  
    position: relative;
    border-radius: 6px; 
    overflow: hidden;}
/* .logo {
    text-align: center;
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    position: relative;
    
} */

.logo {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    position: relative;
}

.logo::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(1);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: hsl(243, 80%, 62%);
     transform-origin: bottom left;
     transition: transform .6s cubic-bezier(0.53, 0.21, 0, 1);
 }

.logo:hover::after {
     transform: scaleX(0);
     transform-origin: bottom right;
 }




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
    font-family: 'Mate SC', serif;
}

.menu{
    display: inline;
    color: white;
    width: 40%;
}

.menu li{
    display: inline;
    padding: 10px;
    font-size: 25px;
    /* margin-right: 50px; */
    margin: auto;
}

.a {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.a span {
    color: hsl(243, 80%, 62%);
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.a::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-101%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(243, 80%, 62%);
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
}

.a:hover span {
    color: hsl(222, 100%, 95%);
}

.a:hover::before {
    transform: translate(0, -50%);
}

.b {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.b span {
    color: hsl(243, 80%, 62%);
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.b::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-101%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(243, 80%, 62%);
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
}

.b:hover span {
    color: hsl(222, 100%, 95%);
}

.b:hover::before {
    transform: translate(0, -50%);
}

.c {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.c span {
    color: hsl(243, 80%, 62%);
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.c::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-101%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(243, 80%, 62%);
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
}

.c:hover span {
    color: hsl(222, 100%, 95%);
}

.c:hover::before {
    transform: translate(0, -50%);
}

